:root {
  --branco--titulo--priincipal: #ffffff;
  --azul--botao--secundario: #167bf7;
  --cinza--botao--secundario: #c0c0c0;
  --cor--fundo: #00030c;
  --fonte-principal: 'Inter';
  --botao-azul-efeito: #3c92fa;
}

body {
  background-color: var(--cor--fundo);
  color: var(--branco--titulo--priincipal);
  font-family: var(--fonte-principal);
  font-size: 16px;
  font-weight: 400px;
}

* {
  margin: 0;
  padding: 0;
}

.principal {
  background-image: url("img/Background.png");
  background-repeat: no-repeat;
  background-size: contain;
  align-items: center;
  text-align: center;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
}

.container__botao {
  background-color: var(--azul--botao--secundario);
  border-radius: 5px;
  padding: 1em;
  color: var(--branco--titulo--priincipal);
  display: block;
  text-decoration: none;
  margin-bottom: 1em;
}

.container__botao:hover{
  background-color: var(--botao-azul-efeito);
  color: var(--cor--fundo);
}

.botao_secundario {
  background-color: transparent;
  border: 2px solid var(--branco--titulo--priincipal);
}

.containe__aviso {
  font-size: 12px;
  color: var(--cinza--botao--secundario);
}

.container__titulo {
  font-size: 28px;
  font-weight: 700px;
}

.containe__imagem {
  margin: 1em 0 2em 0;
}

.container__caixa {
  margin: 0 6em;
}

.secundario__imagem {
  width: 80%;
}

.secundario {
  align-items: center;
  margin: 0 10em;
}

.descricao__titulo {
  font-weight: 700;
  font-size: 48px;
  color: var(--branco--titulo--priincipal);
  margin-bottom: 0.1em;
}

.descricao_texto {
  color: var(--cinza--botao--secundario);
}

.secundario__botao {
  display: inline-block;
  margin-top: 1em;
}

.container__descricao {
  padding: 2em;
}

.dispositivos__lista{
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 5em 0;
}

.dispositivos{
  text-align: center;
}

.dispositivos__titulo{
  font-size: 48px;
  color: var(--branco--titulo--priincipal);
}

.rodape__lista{
  font-size: 12px;
  display: flex;
  justify-content: center;
  color: var(--branco--titulo--priincipal);
  list-style-type: none;
  margin-top: 1em;
  
}

.lista__link a{
  text-decoration: none;
   color: var(--branco--titulo--priincipal);
   margin-left: 1em;
}

.lista__link a:hover{
  color: var(--azul--botao--secundario);
}

.lista__link a:active{
  color: pink;
}


.rodape__texto{
  color: var(--cinza--botao--secundario);
  margin: 1em 0;
  font-size: 14px;
}

.rodape{
  text-align: center;
  margin: 5em 3em;
}